lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
docs
public-docs
private-docs
npm-debug.log
.DS_Store
package-lock.json

.env
.npmignore
.vscode/*
package-lock.json
.nyc_output
