# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go build command
/webchat-proxy

# Dependency directories (only if you don't want to vendor)
# vendor/

# IDE specific files
.vscode/
.idea/
.DS_Store
